/* https://developer.paciellogroup.com/blog/2012/05/html5-accessibility-chops-hidden-and-aria-hidden/ */
.offscreen {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* font is loaded locally. You can use these fonts in the template */
@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Oswald;
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url('./fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 600;
}

body {
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  background-color: lightgrey;
}

.head-background {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0 0 100px 0;
}

.banner-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
  filter: brightness(50%);
}

.fixed-head {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}

.opening-hours {
  margin-left: 15vw;
  font-weight: 500;
}

.myaccount {
  margin-right: 15vw;
  cursor: pointer;
  font-weight: 500;
}

/* ------ Bellow the line ------ */

.main-menu-area {
  display: flex;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 2px solid lightgray;
  padding: 10px 15vw 0 15vw;
}

.menubar-logo {
  height: 2.5em;
  align-self: flex-start;
}

.main-menu-container {
  display: flex;
  color: white;
  align-items: flex-end;
}

.search {
  align-self: flex-start;
  color: white;
  padding-top: 5px;
}

.main-menu {
  display: flex;
  margin: 0 15px auto 0;
  list-style: none;
  font-weight: 500;
  padding: 0 0 0 0;
}

.menu-item {
  cursor: pointer;
  font-size: 1em;
}

.menu-item:not(:last-child) {
  margin-right: 1em;
}

.menu-item a {
  text-decoration: none;
  color: white;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ END OF MENU AREA ------ */

.header-logo {
  width: 200px;
  display: block;
  margin: 8vw auto 0 auto;
}

.header-slogan {
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  color: white;
  margin: 1.5em 0 0 0;
}

.shopnow-button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 12pt;
  font-weight: 400;
  width: fit-content;
  background-color: #4cf14c;
  color: white;
  cursor: pointer;
  padding: 0.5em 4em 0.5em 4em;
  margin: 1.5em auto 0 auto;
  border-radius: 2em;
  user-select: none;
}

.shopnow-button:hover {
  background-color: white;
  color: #4cf14c;
}

.menu-checkbox,
.toggle-label {
  display: none;
}

/* --------------------------------  main-grid is grid  --------------------------------- */
.main-grid {
  padding: 0;
  margin: 50px auto 50px auto;
  display: grid;
  column-gap: 40px;
  align-items: center;
  justify-items: center;
  grid-template-columns: [page-start] auto [content-start] 180px [content-mid1] 180px [content-mid2] 180px [content-end] auto [page-end];
}

.main-title {
  grid-column-start: content-start;
  grid-column-end: content-end;
  text-align: center;
  font-weight: 400;
  margin: 0 0 1em 0;
}

.sub-title {
  grid-column-start: content-start;
  grid-column-end: content-end;
  grid-row: 2;
  text-align: center;
  font-weight: 400;
  margin: 0 0 2em 0;
}

.grid-element {
  background-color: rgb(237, 234, 234);
  text-align: center;
  font-weight: 400;
  color: green;
  justify-self: center;
  padding: 15%;
  box-shadow: 0 0 20px 10px rgb(170, 167, 167);
}

.grid-element img, {
  display: block;
}

.globe-textbox {
  grid-column: 2/3;
}

.refresh-textbox {
  grid-column: 3/4;
}

.todo-textbox {
  grid-column: 4/5;
}

/* ------ Bottom footer area ------ */

footer {
  margin: 0;
  padding: 0 0 200px 0;
}

.footer-image {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 35vh;
  width: 100vw;
  height: auto;
  object-fit: cover;
  object-position: 50% 15%;
}

footer p {
  text-align: center;
  font-weight: 400;
}

/* ------ mobile view ------ */

@media (max-width: 800px) {
  /* Header display correction for smaller screen */
  .opening-hours {
    margin-left: 15px;
  }

  .myaccount {
    margin: 0 15px 0 auto;
  }

  .toggle-label {
    display: block;
    font-size: 1em;
    cursor: pointer;
    margin: 0 15px 0 0;
  }

  .main-menu-area {
    padding: 10px 25px 25px 0;
  }

  .menubar-logo {
    align-self: flex-start;
  }

  .search {
    align-self: flex-start;
  }

  .main-menu {
    text-align: center;
    display: none;
  }

  .menu-checkbox:checked ~ .main-menu {
    display: block;
  }

  /* --------------------------------  main-grid is grid  --------------------------------- */
  .main-grid {
    grid-template-columns: [page-start] auto [content-start] 200px [content-end] auto [page-end];
    grid-row-gap: 20px;
    padding: 0 20px 0 20px;
  }

  .main-title {
    grid-column-start: page-start;
    grid-column-end: page-end;
    text-align: center;
    font-weight: 400;
    margin: 0 0 1em 0;
  }

  .sub-title {
    grid-column-start: page-start;
    grid-column-end: page-end;
    grid-row: 2;
    text-align: center;
    font-weight: 400;
    margin: 0 0 2em 0;
  }

  .globe-textbox {
    grid-column: 2/3;
    grid-row: 3;
  }

  .refresh-textbox {
    grid-column: 2/3;
    grid-row: 4;
  }

  .todo-textbox {
    grid-column: 2/3;
    grid-row: 5;
  }
}
